* {
  margin: 0 auto;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  width: 1480px;
  height: 1282px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.0001);
}
.header {
  padding-top: 63px;
  padding-bottom: 40px;
}
.logo_header {
  width: 334px;
  height: 79px;
  left: 0px;
  top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}
.logo_text {
  width: 334px;
  height: 79px;
  left: 0px;
  top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  color: #4bcaff;
}
.logo_wrapper {
  text-decoration: none;
}
.navigation-menu {
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
  background-color: #35444f;
}
.nav__menu__item {
  border-right: #ffffff;
  border-left: #4bcaff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}
main {
  display: flex;
  gap: 53px;
  padding-top: 49px;
}
.aside__menu {
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
  width: 344px;
  height: 399px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}
.aside_item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #485863;
  padding-bottom: 25px;
  text-decoration: none;
  padding-top: 25px;
  padding-left: 44px;
}
.aside_item:hover {
  background-color: #dbdbdb;
}
.nav__menu__item:hover {
  background-color: #222f3a;
  padding-top: 20px;
  padding-bottom: 20px;
}
.image_main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
}
.image_1 {
  align-items: center;
  justify-content: center;
}
.paragraphs {
  width: 885px;
  height: 120px;
  padding-top: 37px;
  display: flex;
  justify-content: end;
  padding-left: 400px;
  padding-right: 99px;
}
.paragraph_1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.paragraph_2 {
  width: 885px;
  height: 109px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 400px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-top: 34px;
}
.footer {
  padding-left: 100px;
  padding-right: 140px;
  padding-top: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_menu {
  padding-left: 40px;
  gap: 20px;
  display: flex;
  background-color: rgba(99, 105, 110, 0.48);
  width: 1280px;
  height: 69px;
}
.footer_menu_item {
  align-self: center;
  padding-left: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.copyright_logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 190px;
  align-self: center;
}
.footer_menu_item:hover {
  color: #4bcaff;
  text-decoration: underline;
}
.liniar {
  border-left: 1px solid rgb(255, 255, 255);
  margin-left: 10px;
  margin-right: 10px;
}
